/* reset default styles */
* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  font-family: "Nunito Sans", Georgia, Arial, sans-serif;
}

/* styles for the hero section */
.hero {
  width: 100%;
  min-height: 100vh;

  background-image: url("../images/bg.png");
  background-position: center;
  background-size: cover;
  overflow: hidden;

  padding: 10px 10%;

  position: relative;
}

/* styles for the nav */
nav {
  padding: 10px 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* styles for brand logo inside the nav */
.brand-logo {
  width: 140px;
}

/* styles for the list items inside the nav */
nav ul li {
  list-style-type: none;

  display: inline-block;

  margin: 10px 15px;
}

/* styles for the links within the list items inside the nav */
nav ul li a {
  text-decoration: none;

  color: rgb(51, 51, 51);
  font-weight: 400;
}

/* styles for the login button inside the nav */
.login-btn {
  text-decoration: none;

  color: rgb(51, 51, 51);
  font-weight: 400;

  margin-right: 15px;
}

/* styles common for the download and join now button inside the nav */
.download-btn,
.join-now-btn {
  display: inline-block;

  text-decoration: none;

  padding: 14px 40px;
  border-radius: 30px;
  border-top-right-radius: 0;

  color: rgb(255, 255, 255);
  font-size: 14px;

  background-image: linear-gradient(
    45deg,
    rgb(223, 72, 129),
    rgb(196, 48, 215)
  );

  transition: border-top-right-radius 0.5s;
}

/* styles common for hover effect of the download and join now button inside the nav */
.download-btn:hover,
.join-now-btn:hover {
  border-top-right-radius: 30px;
}

/* styles for the content inside the hero section */
.content {
  margin-top: 10%;
  max-width: 600px;
}

/* styles for the content heading inside the hero section */
.content h1 {
  font-size: 70px;
  color: rgb(34, 34, 34);
}

/* styles for the content paragraph inside the hero section */
.content p {
  margin: 10px 0 30px 0;

  color: rgb(51, 51, 51);
}

/* styles for the join now button inside the hero section */
.join-now-btn {
  padding: 15px 80px;

  font-size: 16px;
}

/* styles for the feature image inside the hero section */
.feature-image {
  width: 530px;

  position: absolute;
  bottom: 0;
  right: 10%;
}

/* styles for the fade-in animation */
.fade-in {
  animation-name: fade-in;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

/* keyframes for the fade-in animation */
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* animation duration of 1 second */
.duration-1 {
  animation-duration: 1s;
}

/* delay animation for 0.5 seconds */
.delay-animation-0-5 {
  animation-delay: 0.5s;
}

/* delay animation for 1 second */
.delay-animation-1 {
  animation-delay: 1s;
}
