/* styles for the header element */
header {
  height: 3rem;
  width: 100%;
}

/* styles for the navbar */
.navbar {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 14fr 3fr;
  padding-right: 0.5rem;
}

.navbar a {
  font-size: 0.85rem;
  text-decoration: none;
  color: rgb(31, 31, 31);
}

.navbar a:hover {
  text-decoration: underline;
  text-underline-offset: 0.075rem;
  cursor: pointer;
}

/* styles for the elements present on the left side of the navbar */
.nav-left {
  grid-column: 1;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.nav-left a {
  font-weight: 500;
  margin-top: 1.5rem;
}

.lnk-about {
  margin-left: 1.6rem;
}

.lnk-store {
  margin-left: 1.25rem;
}

/* styles for the elements present on the right side of the navbar */
.nav-right {
  grid-column: 3;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
}

.right-nav-links {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.right-nav-links a {
  font-size: 0.8rem;
  margin-top: 1.2rem;
}

.right-nav-links a:hover {
  text-underline-offset: 0;
}

/* styles for the gmail link present on the right side of the navbar */
.lnk-gmail {
  margin-right: 0.95rem;
}

/* styles common to the search-labs, google-apps, and profile sections */
.search-labs,
.google-apps,
.profile {
  width: 3rem;
  height: 100%;
}

/* styles for the search-labs, google-apps, and profile links */
.lnk-search-labs,
.lnk-google-apps,
.lnk-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

/* styles common for the hover effect of search-labs and google-apps links */
.lnk-search-labs:hover,
.lnk-google-apps:hover {
  background-color: rgba(222, 222, 222, 0.7);
  border-radius: 50%;
}

/* styles for the search-labs, google-apps, and profile images */
.img-search-labs,
.img-google-apps,
.img-profile {
  aspect-ratio: 1/1;
  object-fit: contain;
  object-position: center;
}

/* styles for the search-labs section */
.search-labs {
  margin-left: 0.4rem;
  padding: 0.375rem 0.25rem 0.125rem;
}

/* styles for the search-labs image */
.img-search-labs {
  width: 1.1rem;
  height: 1.1rem;
}

/* styles for the google-apps section */
.google-apps {
  padding: 0.375rem 0.4375rem 0.125rem 0.0625rem;
}

/* styles for the google-apps image */
.img-google-apps {
  width: 1rem;
  height: 1rem;
}

/* styles for the container section of the profile image */
.profile-img-container {
  width: 2.6rem;
  height: 2.6rem;
  border: 2px solid red;
  border-radius: 50%;
  margin-top: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* styles for the profile image */
.img-profile {
  width: 2.1rem;
  height: 2.1rem;
}
