/* styles for the top navbar */
.navbar {
  margin-top: 1em;
  margin-left: 1.2em;
  margin-right: 1.2em;
  display: flex;
}

/* styles for the right side navbar container */
.right-nav-items {
  margin-left: auto;
}

/* styles for all nav items lists */
.nav-items-list {
  display: flex;
  gap: 1.2em;
  align-items: center;
}

/* styles for list items inside nav items */
.nav-items-list li {
  display: block;
  list-style-type: none;
}

.nav-items-list li a {
  text-decoration: none;
  font-size: 0.8em;
  color: #333;
}

/* styles for images used as icons */
.icon-image {
  width: 1.7em;
  aspect-ratio: 1/1;
}
