/* styles for the top navbar */
.navbar {
  margin: 1em 1.2em 0;
  display: flex;
}

/* styles for the right side navbar container */
.right-nav-items {
  margin-left: auto;
}

/* styles for all nav items lists */
.nav-items-list {
  display: flex;
  gap: 1.2em;
  align-items: center;
}

/* styles for list items inside nav items */
.nav-items-list li {
  display: inline-block;
  list-style-type: none;
}

/* styles for links as list item under nav items */
.nav-items-list li a {
  text-decoration: none;
  font-size: 0.9em;
  color: #333;
}

/* styles for links as list item under nav items present on the right side */
.right-nav-items .nav-items-list li a {
  font-size: 0.85em;
}

/* styles for images used as icons */
.icon-image {
  width: 1.75em;
  aspect-ratio: 1/1;
  margin-left: 0.4em;
  margin-top: 0.3em;
}
